div.speech div.speech_bubble_content {
  position: relative;
  display: inline-block;
  text-align: left;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px 2px #222;
  -moz-box-shadow: inset 0 0 10px 2px #222;
  box-shadow: inset 0 0 10px 2px #222;
  margin: 10px;
}

div.speech.left div.speech_bubble_content {
  color: #AAA;
  border: 2px solid #AAA;
}

div.speech.left { text-align: left }
div.speech.right { text-align: right }

div.speech div:before
{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -30px;
  border: 15px solid;
}

div.speech div:after
{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -26px;
  border: 13px solid;
}

div.speech.left div:before {
  left: 15px;
  border-color: #AAA transparent transparent #AAA;  
}

div.speech.right div:before {
  right: 15px;  
  border-color: #FFF #FFF transparent transparent;
}

div.speech.left div:after {
  left: 17px;
  border-color: #222 transparent transparent #222;  
}

div.speech.right div:after {
  right: 17px;  
  border-color: #222 #222 transparent transparent;
}

img.portrait {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 6px;
  border: 2px solid #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.tool_logo {
  max-width: 80px;
  max-height: 60px;
  margin: 10px;
  display: none;
}

.business-card {
  background: white;
  color: black;
  font-size: 18px;

  width: 235px;
  height: 375px;
  margin: 20px auto 20px;

  -webkit-box-shadow: 5px 5px 10px 2px #222;
  -moz-box-shadow: 5px 5px 10px 2px #222;
  box-shadow: 5px 5px 10px 2px #222;
}

.business-card p a {
  color:  black;
}
.business-card .title { margin: 25px 0 5px; }
.business-card .subtitle { margin: 5px 0;}
.business-card .logo { display: block; margin: 38px auto;}
.business-card .contact_line { margin: 7px 0px; }
.business-card .contact_line i.fa { display: inline-block; width: 1.2em; }
.business-card .left, .business-card .right { text-align: left; }

@media (min-width: 768px) {
  .business-card { width: 400px; height: 215px; }
  .business-card .left { text-align: left; }
  .business-card .right { text-align: right; }
  .business-card .logo { display: block; margin: 2px 15px;}
  .business-card .title { margin-top: 10px }
  .business-card .contact_line.first { margin-top: 20px; }
}

.subtitle {
  font-size: small;
  color: #aaa;
}

#left-sidebar .subtitle { margin: 0 5px 0 5px; }

.trusted_by .client_logo {
    max-height: 60px;
    max-width: 110px;
    margin: 10px;
  }  
.trusted_by .client_logo.smaller {
    max-height: 35px;
  }
.trusted_by  .client_logo.smallest {
    max-height: 20px;
  }

.anim_obj {
  position: absolute;
  display: flex; justify-content: center; align-items: center; text-align: center;
  transform: translate(-50%, -50%);
}

.anim_obj i {
  font-size: 2em;
}

.anim_obj img {
  height: 4em;
  width: 4em;
}

.grid .fa.icon img {
  height: 50px;
}

#tools_section {
  margin-bottom: -900px;
}

.upside-down {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

#main-content h1 {
    font-size:1.5em;
}