<html>
	<head>
		<script src="/lib/awesomplete/awesomplete.min.js"></script>
		<link rel="stylesheet" href="/lib/awesomplete/awesomplete.css" />
		<link rel='stylesheet' id='bootstrap-css'  href='/lib/bootstrap/css/bootstrap.css' type='text/css' media='all' />
		<style>
			form#transaction-form table { max-width: 500px; }
			form#transaction-form table td { border: 0; padding: 5px;}
			form#transaction-form div.awesomplete { width: 100%;}
			form#transaction-form div.date-picker { display: none; }
			form#transaction-form div.date-picker label { display: block; }
		</style>
	</head>
<body style="margin: 20px;">

${post.text()}

</body>
</html>