.. title: transaction-varna
.. slug: transaction-varna.html
.. date: 2022-08-09 20:47:39 UTC+03:00
.. tags:
.. category:
.. link:
.. description:
.. type: html
.. template: accounting-form.tmpl

<style>
  body, body input, body textarea, body button, body select {
    font-size: 1.3em;
  }
  #main-form td {
    padding: 5px;
  }
  #main-form input, #main-form div.awesomplete, #main-form button[type='submit'] {
    width: 100%;
  }
  #main-form input.category-perc { width: 75px; }
  #main-form textarea { width: 350px; }

  input.empty { background-color: white; }
  input.valid { background-color: rgba(0, 162, 80, 0.2); }
  input.invalid { background-color: rgba(163, 13, 13, 0.2); }


  tr.no-options { display: none; }
  tr.hidden-row { display: none; }

  button.add-remove-btn {}
  button.add-category:before { content: '+'; }
  button.remove-category:before { content: '-'; }
</style>
<p id="loader">Loading...</p>
<form id="main-form"
      target="_blank"
      method="POST"
      action="https://script.google.com/macros/s/AKfycbwgqMmEu8nhkiUgcWySnbsfK8x2AWSnej8Hftw7tPVpjcmhxIhmGHB4sjsPok7H_5O9/exec"
      style="display:none;">
  <table>
    {{% form_field name="Type" type='input' required=true %}}
    {{% form_field name="Payer" type='input' required=true %}}
    {{% form_field name="Asset" type='input' %}}
    {{% form_field name="Offer" type='input' %}}
    {{% form_field name="Payee" type='input' %}}
    {{% form_field name="Category" type='input' %}}
    {{% form_field name="Category" type='input' index=1 %}}
    {{% form_field name="Category" type='input' index=2 %}}
    {{% form_field name="Category" type='input' index=3 %}}
    {{% form_field name="Category" type='input' index=4 %}}
    {{% form_field name="Category" type='input' index=5 %}}
    <tr><td></td><td><button class="btn btn-default category-btn add-category"></button></td></tr>
    {{% form_field name="Period Start" type='date' %}}
    {{% form_field name="Period End" type='date' %}}

    {{% form_field name="Amount" type='number' required %}}
    {{% form_field name="Currency" type='select' options='BGN,EUR' %}}
    {{% form_field name="Payment Date" type='date' %}}
    {{% form_field name="Comment" type='textarea' %}}
    {{% form_field name="Attachment" type='file' %}}
    <tr><td></td><td><button type="submit">Send</button></td></tr>
  </table>
</form>

<p id="after_submission" style="display: none;">Transaction submitted, <a id="restart_form">Click here</a> to submit another.</p>

<script type="text/javascript">
  function configureInput(input) {
    var awesomepleteForm = new Awesomplete(input, {
      minChars: 0,
      maxItems: 10,
      autoFirst: true,
      filter: function (text, input) {
          return (text.toLowerCase().indexOf(input.toLowerCase()) === 0) && (text.slice(0, -1).split('/').length === input.split('/').length);
      },
      replace: function (text) {
          this.input.value = text;
          console.log(this);
          var furtherOptions = this._list.filter(function (opt) { return (opt.toLowerCase().indexOf(text.toLowerCase()) === 0) && (opt.slice(0, -1).split('/').length === text.split('/').length) });
          if (furtherOptions.length === 1 && furtherOptions[0] != text) {
              this.replace(furtherOptions[0]);
          }
          updateInputs();
      },
      sort: function(a, b) {
          return a > b;
      }});

    input.addEventListener('awesomplete-selectcomplete', function (e) {
      if (e.text.value.slice(-1) == '/') {
        awesomepleteForm.open();
        awesomepleteForm.evaluate();
      }
    });
    input.addEventListener('focus', function (e) {
      awesomepleteForm.open();
      awesomepleteForm.evaluate();
    });
    input.addEventListener('blur', function (e) {
      updateInputs();
    });

    return awesomepleteForm;
  }
  function composeDimension(dimension, data) {
    let res = {};
    for (let i = 0; i < data.length; i++) {
      data[i][dimension] = data[i][dimension].replace(/\n/g, '');
      res[data[i][dimension]] = data[i];
    }
    return res;
  }

  function updateRegularInput(input, display) {
    if (display) {
      input.closest('tr').classList.remove('no-options');
    } else {
      input.closest('tr').classList.add('no-options');
      input.value = '';
    }
  }

  function updateAwesomepleInput(awesomeplete, options) {
    let final_options = [];
    for (let i = 0; i < options.length; i++) {
      const option_fragments = options[i].split('/');
      let partial_option = '';
      for (let j = 0; j < option_fragments.length; j++) {
        partial_option += option_fragments[j];
        if (j < option_fragments.length - 1) {
          partial_option += '/';
        }
        final_options.push(partial_option.slice());
      }
    }
    final_options = final_options.sort().filter(function(item, pos, ary) { // Deduplicates array values
        return !pos || item !== ary[pos - 1];
    });
    awesomeplete.list = final_options;

    if (final_options.length === 0) {
      awesomeplete.input.closest('tr').classList.add('no-options');
      awesomeplete.input.value = '';
    } else {
      awesomeplete.input.closest('tr').classList.remove('no-options');
      if (options.length === 1) { // Purposefully left as options and not final_options
        awesomeplete.input.value = options[0];
      }
      awesomeplete.input.classList.remove('empty', 'invalid', 'valid');
      if (awesomeplete.input.value === '') {
        awesomeplete.input.classList.add('empty')
      } else if (final_options.indexOf(awesomeplete.input.value) >= 0) {
        awesomeplete.input.classList.add('valid')
      } else {
        awesomeplete.input.classList.add('invalid')
      }
    }
  }

  function getPayerOptions() {
    const form_values = Object.fromEntries(new FormData(document.getElementById('main-form')));
    switch (form_values.Type) {
      case 'Income':
        let income_generating_types = Object.values(incomes).map(e => e['Entity Type'].split(',')).flat();
        return Object.keys(entities).filter(e => income_generating_types.indexOf(entities[e].Type) >= 0);
      default:
        return Object.keys(accounts);
    }
  }

  function getPayeeOptions() {
    const form_values = Object.fromEntries(new FormData(document.getElementById('main-form')));
    let res = [];
    switch (form_values.Type) {
      case 'Income': case 'Transfer': res = Object.keys(accounts); break;
      case 'Service': res = Object.keys(entities).filter(e => ['Vendor', ''].indexOf(entities[e].Type) === -1 ); break;
      case 'Offer': res = Object.keys(entities).filter(e => offers[form_values.Offer] && e === offers[form_values.Offer]['Contractor']); break;
      case 'Materials': res = Object.keys(entities).filter(e => entities[e].Type.indexOf('Vendor') >= 0); break;
      case 'Lump Sum': res = []; break;
    }
    return res.filter(e => e !== form_values.Payer);
  }

  function getCategoryOptions(multiple_categories) {
    const form_values = Object.fromEntries(new FormData(document.getElementById('main-form')));

    if (form_values.Type === 'Lump Sum' && !multiple_categories) {
      return ['Lump Sum'];
    }

    if (form_values.Type === 'Offer' && form_values.Offer !== '' && !multiple_categories) {
      let res = Object.values(expenses)
              .filter(e => e['Expense'] === offers[form_values.Offer]['Expense'])
              .map(e => e.Expense);
      return res.length ? res : [''];
    }

    if (form_values.Payer !== '' && form_values.Type === 'Income' && !multiple_categories) {
      let res = Object.values(incomes)
              .filter(e => e['Entity Type'].split(',').indexOf(entities[form_values.Payer].Type) >= 0)
              .filter(e => form_values.Asset !== 'General' || e['General Allowed'])
              .map(e => e.Income);
      return res.length ? res : [''];
    }

    if (form_values.Payee !== '' && form_values.Type === (multiple_categories ? 'Materials' : 'Service')) {
      let res = Object.values(expenses)
              .filter(e => !e['Entity Type'].split(',').every(en => !entities[form_values.Payee].Type.split(',').includes(en)))
              .filter(e => !e['Offer Mandatory'])
              .filter(e => form_values.Asset !== 'General' || e['General Allowed'])
              .map(e => e.Expense);
      return res.length ? res : [''];
    }

    return [];
  }

  function getAssetOptions() {
    const form_values = Object.fromEntries(new FormData(document.getElementById('main-form')));
    if (form_values.Type === 'Transfer' || form_values.Type === '') {
      return [];
    }
    return ['General'].concat(Object.keys(assets));
  }

  function getOfferOptions() {
    const form_values = Object.fromEntries(new FormData(document.getElementById('main-form')));
    switch (form_values.Type) {
      case 'Offer':
        let res = Object.values(offers).filter(e => (e['Asset'] === form_values.Asset)).map(e => e.Offer);
        return res.length ? res : [''];
      default:
        return [];
    }
  }
  function displayPeriod() {
    const form_values = Object.fromEntries(new FormData(document.getElementById('main-form')));
    switch (form_values.Type) {
      case 'Lump Sum': return true;
      case 'Income': return incomes[form_values.Category] && incomes[form_values.Category]['Period based'];
      case 'Service': return expenses[form_values.Category] && expenses[form_values.Category]['Period based'];
      default: return false;
    }
  }

  function displayPaymentDate() {
    const form_values = Object.fromEntries(new FormData(document.getElementById('main-form')));
    return form_values.Type !== 'Lump Sum';
  }
  function updateInputs() {
    updateAwesomepleInput(awesomepletes.type, ['Income', 'Service', 'Offer', 'Materials', 'Transfer', 'Lump Sum']);
    updateAwesomepleInput(awesomepletes.payer, getPayerOptions());
    updateAwesomepleInput(awesomepletes.assets, getAssetOptions());
    updateAwesomepleInput(awesomepletes.offers, getOfferOptions());
    updateAwesomepleInput(awesomepletes.payee, getPayeeOptions());
    updateAwesomepleInput(awesomepletes.category, getCategoryOptions(false));
    let multiple_categories = getCategoryOptions(true);
    for (let i = 0; i < awesomepletes.multiple_categories.length; i++) {
      updateAwesomepleInput(awesomepletes.multiple_categories[i], multiple_categories);
    }
    if (multiple_categories.length > 0) {
      document.querySelector('button.add-category').closest('tr').classList.remove('no-options');
    } else {
      document.querySelector('button.add-category').closest('tr').classList.add('no-options');
    }
    updateRegularInput(document.getElementById("field_Payment Date"), displayPaymentDate());
    updateRegularInput(document.getElementById("field_Period Start"), displayPeriod());
    updateRegularInput(document.getElementById("field_Period End"), displayPeriod());
  }
  function initInputs() {
    window.awesomepletes = {
      type: configureInput(document.querySelector("#field_Type")),
      payer: configureInput(document.querySelector("#field_Payer")),
      payee:configureInput(document.querySelector("#field_Payee")),
      category: configureInput(document.querySelector("#field_Category")),
      multiple_categories: [
        configureInput(document.querySelector("#field_Category_1")),
        configureInput(document.querySelector("#field_Category_2")),
        configureInput(document.querySelector("#field_Category_3")),
        configureInput(document.querySelector("#field_Category_4")),
        configureInput(document.querySelector("#field_Category_5")),
      ],
      assets: configureInput(document.querySelector("#field_Asset")),
      offers: configureInput(document.querySelector("#field_Offer")),
    };
    updateInputs();
    document.querySelector('#main-form').style.display = 'block';
    document.querySelector('#loader').style.display = 'none';
  }

  function updateDates(el) {
      const form_values = Object.fromEntries(new FormData(document.getElementById('main-form')));

      const payment_date_input = document.getElementById('field_Payment Date');
      payment_date_input.classList.remove('empty', 'invalid', 'valid');
      payment_date_input.classList.add(form_values['Payment_Date'] === '' ? 'empty' : new Date(form_values['Payment Date']) < Date.now() ? 'valid': 'invalid');
      const period_start_input = document.getElementById('field_Period Start');
      const period_end_input = document.getElementById('field_Period End');
      period_start_input.classList.remove('empty', 'invalid', 'valid');
      period_end_input.classList.remove('empty', 'invalid', 'valid');
      const period_validity = form_values['Period Start'] === '' || form_values['Period End'] === '' ? 'empty' :
              new Date(form_values['Period Start']) <= new Date(form_values['Period End']) ? 'valid': 'invalid';
      period_start_input.classList.add(period_validity);
      period_end_input.classList.add(period_validity);
  }

  const main_form = document.getElementById('main-form');
  async function getInitialData() {
      const response = await fetch(main_form.action + '?method=getInitialData');
      const payload = await response.json();
      if (payload.result != 'success') {
        throw new Error('Failed to fetch initial data');
      }
      window.raw_data = payload.data;
  }

  window.addEventListener("load", function() {
    getInitialData().then(() => {
      window.expenses = composeDimension('Expense', raw_data['expenses']);
      window.incomes = composeDimension('Income', raw_data['incomes']);
      window.assets = composeDimension('Asset', raw_data['assets']);
      window.offers = composeDimension('Offer', raw_data['offers']);
      window.entities = composeDimension('Entity', raw_data['entities']);
      window.accounts = composeDimension('Entity', raw_data['entities'].filter(e => e.Account));
      initInputs();
    });

    document.querySelectorAll('button.remove-category').forEach(el => el.addEventListener('click', function (ev) {
      ev.preventDefault();
      let input = document.querySelector('#field_Category_' + ev.target.getAttribute('data-index'));
      input.value = '';
      input.closest('tr').classList.add('hidden-row');
      document.querySelector('button.add-category').removeAttribute('disabled');
    }));

    document.querySelector('button.add-category').addEventListener('click', function (ev) {
      ev.preventDefault();
      let input = document.querySelector('tr.hidden-row [id^="field_Category_"]')
      input.closest('tr').classList.remove('hidden-row');
      if (!document.querySelector('tr.hidden-row [id^="field_Category_"]')) {
        document.querySelector('button.add-category').setAttribute('disabled', '');
      }
    });

    document.querySelectorAll('input.category-perc').forEach(el => el.addEventListener('change', function (ev) {
        ev.preventDefault();
        let sum_perc = 0;
        document.querySelectorAll('input.category-perc').forEach(el => {
            let perc = parseFloat(el.value);
            sum_perc += perc;
        });
        document.querySelectorAll('input.category-perc').forEach(el => {
          el.classList.remove('empty', 'invalid', 'valid');
          if (sum_perc !== 100) {
            el.classList.add('invalid');
          } else {
            el.classList.add('valid');
          }
        });
    }));

    document.querySelectorAll('textarea').forEach(el => el.addEventListener('keyup', function (ev) {
      ev.target.style.height = "1px";
      ev.target.style.height = (25+ev.target.scrollHeight)+"px";
    }));

    document.querySelector('#main-form').addEventListener('submit', function (ev) {
      console.log(Object.fromEntries(new FormData(ev.target)));
      ev.preventDefault();

      const complete_submission = function() {
        main_form.submit();

        document.querySelector('#main-form').style.display = 'none';
        document.querySelector('#after_submission').style.display = 'block';
      };

      if (main_form.Attachment.files.length > 0) {
        const file = main_form.Attachment.files[0];
        const fr = new FileReader();
        fr.readAsArrayBuffer(file);
        fr.onload = function(f) {
          main_form.Attachment_content.value = JSON.stringify([...new Int8Array(f.target.result)]);
          main_form.Attachment_mimeType.value = file.type;

          complete_submission();
        };
      } else {
        complete_submission();
      }
    });

    document.querySelector("#restart_form").addEventListener('click', function (ev) {
      ev.preventDefault();
      main_form.querySelectorAll('input,textarea,select,button').forEach(function(el) {
        el.value = el.querySelector('option') ? el.querySelector('option').value : '';
      });
      document.querySelector('#main-form').style.display = 'block';
      document.querySelector('#after_submission').style.display = 'none';
      updateInputs();
    });
  });

</script>