
    <!-- Modal -->
    <!-- DO NOT MOVE, EDIT OR REMOVE - this is needed in order for popup content to be populated in it -->
    <div class="modal fade" id="common-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-body clearfix">
          </div><!-- .modal-body -->
        </div><!-- .modal-content -->
      </div><!-- .modal-dialog -->
    </div><!-- .modal -->    

    <!-- Javascripts
    ================================================== -->

    <!-- Jquery and Bootstrap JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- Easing - for transitions and effects -->
    <script src="js/jquery.easing.1.3.js"></script>

    <!-- background image strech script -->
    <script src="js/vegas/jquery.vegas.min.js"></script>

    <!-- detect mobile browsers -->
    <script src="js/detectmobilebrowser.js"></script>

    <!-- detect scrolling -->
    <script src="js/jquery.scrollstop.min.js"></script>

    <!-- owl carousel js -->
    <script src="js/owl-carousel/owl.carousel.min.js"></script>

    <!-- lightbox js -->
    <script src="js/lightbox/js/lightbox.min.js"></script>

    <!-- intro animations -->
    <script src="js/wow/wow.min.js"></script>

    <!-- responsive videos -->
    <script src="js/jquery.fitvids.js"></script>

    <!-- Custom functions for this theme -->
    <script src="js/functions.js"></script>
    <script src="js/initialise-functions.js"></script>

    <!-- Custom functions -->
    <script src="js/custom.js"></script>

    <!-- IE9 form fields placeholder fix -->
    <!--[if lt IE 9]>
    <script>contact_form_IE9_placeholder_fix();</script>
    <![endif]-->  

	{% include custom/after_footer.html %}
