
      <!-- Footer -->
      <section id="footer">

        <!-- Go to Top -->
        <div id="go-to-top" onclick="scroll_to_top();"><span class="icon glyphicon glyphicon-chevron-up"></span></div>

        <!-- ==================================================================
        SOCIAL ICONS
        ==================================================================  -->
        <!-- Each social icon item consists of the following:
             - Link to the social page in href of <a>
             - social icon in the <img> - a list of social icons options are found in the directory images/theme_images/social_icons/ -->
        <ul class="social-icons">
<!--           <li><a href="#" target="_blank" title="Facebook"><img src="images/theme_images/social_icons/facebook.png" alt="Facebook"></a></li>
          <li><a href="#" target="_blank" title="Twitter"><img src="images/theme_images/social_icons/twitter.png" alt="Twitter"></a></li>
          <li><a href="#" target="_blank" title="Google+"><img src="images/theme_images/social_icons/googleplus.png" alt="Google+"></a></li>
<-->        </ul>
        <!-- ==================== END: Social Icons ==================== -->

        <!-- copyright text -->
        <div class="footer-text-line">&copy; 2015-2022 Yuval Qen</div>
      </section>
      <!-- end: Footer -->      

