  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if index %}
      {% capture description %}
        {{ site.description }}
      {% endcapture %}
    {% else %}
      {% capture description %}
        {% if page.description %}
          {{ page.description }}
        {% elsif content | excerpt  %}
          {{ content | excerpt }}
        {% else %}
          {{ content | raw_content }}
        {% endif %}
      {% endcapture %}
    {% endif %}
    <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    <meta name="author" content="{{ site.author }}">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <!-- favicon -->
    <link href="{{ root_url }}/favicon.png" type="image/png" rel="icon">

    {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
    <link rel="canonical" href="{{ canonical }}">

    <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="assets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- vegas bg -->
    <link href="js/vegas/jquery.vegas.min.css" rel="stylesheet">
    <!-- owl carousel css -->
    <link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="js/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="js/owl-carousel/owl.transitions.css" rel="stylesheet">
    <!-- intro animations -->
    <link href="js/wow/animate.css" rel="stylesheet">
    <!-- font awesome -->
    <link href="stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- lightbox -->
    <link href="js/lightbox/css/lightbox.css" rel="stylesheet">

    <!-- styles for this template -->
    <link href="stylesheets/styles.css" rel="stylesheet">

    <!-- place your extra custom styles in this file -->
    <link href="stylesheets/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="{{ site.title }}" />
    <meta name="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="og:description" content="{{ description | strip_html | condense_spaces | truncate:150 }}" />
    <meta name="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta name="url" content="{{ site.url }}{{ page.url }}">
    {% if page.categories %}
    <meta name="subject" content="{{ page.categories }}"/>
    <meta name="category" content="{{ page.categories }}"/>
    {% endif %}
    <meta name="distribution" content="global">

    {% include custom/head.html %}
    {% include google_analytics.html %}
  </head>
