<tr>
    <td>
        <label for="field_${name}"">${name}</label>
    </td>
    <td>
        <input id="field_${name}" name="${name}" placeholder="${name}" ${'type="date" onchange="updateDates(this)"' if type == 'date' else 'type="text"'} />
    </td>
</tr>