% if no_article == UNDEFINED:
<article id="${id}" class="section-wrapper clearfix" data-custom-background-img="images/${background}">
  <div class="content-wrapper clearfix">
% endif
    <div class="col-xs-12 col-sm-12 col-md-9">
      % if title:
      <center><h1 class="section-title">${title}</h1></center>
      % endif
      <section class="feature-text">  
        
        <div class="row grid clearfix">